
:root{
 --light-background: #FFF;
--light-text-primary: #334155;
--light-text-secondary: #64748B;

}

body {
 background: var(--light-background);
 font-family: 'Plus Jakarta Sans', sans-serif;
 margin: 30px;
}